/* Base styles for PyNum */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre, code {
  font-family: 'Fira Code', monospace; /* Specific font for code elements */
}

/* Custom Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb { 
  background: #334155;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
